@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&family=Ultra&display=swap");
* {
  margin: 0;
  padding: 0; }

.btn-borde, .grilla .btn-borde, .contenedor .entrada-blog .btn-borde {
  text-decoration: none;
  color: #3A3238;
  border: 1px solid #546CEC;
  padding: 0.25rem; }
  .btn-borde:hover, .contenedor .entrada-blog .btn-borde:hover {
    font-weight: bold;
    background-image: linear-gradient(126deg, #546CEC 0%, #C9D7F8 50%); }

.exfoliacion {
  color: #6E4555;
  font-weight: bold;
  text-decoration: underline; }

.derma {
  color: #546CEC;
  font-weight: bold;
  text-decoration: underline; }

.acido {
  color: #6E4555;
  font-weight: bold;
  text-decoration: underline; }

.acne {
  color: #546CEC;
  font-weight: bold;
  text-decoration: underline; }

.radio {
  color: #6E4555;
  font-weight: bold;
  text-decoration: underline; }

.micro {
  color: #546CEC;
  font-weight: bold;
  text-decoration: underline; }

body {
  background-color: #C9D7F8;
  margin-top: 118px; }
  body h1 {
    font-family: "Ultra", serif;
    color: #E1D89F;
    text-shadow: 5px -2px 2px rgba(0, 0, 0, 0.6); }

@media (min-width: 768px) and (max-width: 2560px) {
  .seccion-portada h1 {
    text-align: end;
    font-size: 80px; }
  .seccion-portada .img-portada {
    width: 65%; } }

@media screen and (max-width: 768px) {
  .seccion-portada h1 {
    text-align: center;
    font-size: 55px; }
  .seccion-portada .img-portada {
    width: 40%; } }

nav {
  background-color: #C9D7F8; }
  nav .navbar-brand {
    padding: 0;
    height: 100px;
    line-height: 100px;
    font-family: "Quattrocento", serif;
    font-weight: bold; }
  nav .navbar-nav {
    font-family: "Quattrocento", serif;
    font-weight: bold; }
    nav .navbar-nav .nav-item {
      margin: 2px; }
      nav .navbar-nav .nav-item .nav-link {
        color: #3A3238; }
        nav .navbar-nav .nav-item .nav-link:hover {
          color: #546CEC; }
    nav .navbar-nav .submenu {
      position: relative; }
      nav .navbar-nav .submenu ul {
        position: absolute;
        top: 2.5rem;
        display: none; }
        nav .navbar-nav .submenu ul li {
          display: block;
          font-size: 15px;
          background-color: #C9D7F8;
          padding-left: 1.5rem;
          padding-right: 1.5rem; }
          nav .navbar-nav .submenu ul li a {
            color: #3A3238;
            text-decoration: none; }
            nav .navbar-nav .submenu ul li a:hover {
              color: #546CEC; }
      nav .navbar-nav .submenu:hover ul {
        display: block; }

footer {
  background-color: #6E4555;
  padding: 2.5rem; }
  footer .texto-footer {
    color: #E1D89F;
    font-family: "Quattrocento", serif;
    font-size: 15px;
    text-align: center;
    align-items: center; }
    footer .texto-footer h5 {
      text-decoration: underline;
      font-size: 20px; }
    footer .texto-footer ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  footer .nav-link {
    color: #E1D89F;
    font-family: "Quattrocento", serif; }
    footer .nav-link:hover {
      color: #C9D7F8; }

.portada-ppal {
  background-image: url(../../img/22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #C9D7F8;
  padding: 3rem; }

.img-principal {
  width: 100%; }

#titulo-inicio {
  color: #3A3238;
  font-family: "Ultra", serif;
  font-size: 60px;
  letter-spacing: 0.2rem; }

#subtitulo-inicio {
  font-size: 60px;
  font-weight: bold; }

.texto-inicio {
  text-align: end; }
  .texto-inicio .fs-1 {
    font-family: "Ultra", serif;
    color: #3A3238; }
  .texto-inicio .fs-3 {
    font-family: "Quattrocento", serif;
    color: #3A3238; }

.img-inicio {
  width: 60%; }

#texto-productos {
  text-align: start; }
  #texto-productos .fs-1 {
    font-family: "Ultra", serif;
    color: #3A3238; }
  #texto-productos .fs-3 {
    font-family: "Quattrocento", serif;
    color: #3A3238; }

@media screen and (max-width: 768px) {
  .img-principal {
    width: 85%;
    align-items: center; }
  #titulo-inicio {
    font-size: 40px;
    text-align: center; }
  .texto-inicio {
    text-align: center; }
  #texto-productos {
    text-align: center; }
  .img-inicio {
    width: 60%; } }

.portada-servicios {
  background-image: url(../../img/02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem; }

.edit-servicios {
  font-family: "Quattrocento", serif;
  margin: 3rem auto 5rem; }
  .edit-servicios h2 {
    color: #3A3238;
    font-size: 40px;
    font-weight: bold; }
  .edit-servicios .edit-higiene {
    width: 100%; }
  .edit-servicios .edit-dermamicro {
    width: 90%; }
  .edit-servicios .edit-video {
    width: 50%; }
  .edit-servicios .edit-acne {
    width: 50%; }

.portada-tienda {
  background-image: url(../../img/03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  margin: 2rem;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  grid-template-areas: "producto-1 producto-2 producto-3" "producto-4 producto-5 producto-6" "producto-7 producto-8 producto-9"; }
  .grilla .producto-1 {
    grid-area: producto-1; }
  .grilla .producto-2 {
    grid-area: producto-2; }
  .grilla .producto-3 {
    grid-area: producto-3; }
  .grilla .producto-4 {
    grid-area: producto-4; }
  .grilla .producto-5 {
    grid-area: producto-5; }
  .grilla .producto-6 {
    grid-area: producto-6; }
  .grilla .producto-7 {
    grid-area: producto-7; }
  .grilla .producto-8 {
    grid-area: producto-8; }
  .grilla .producto-9 {
    grid-area: producto-9; }
  .grilla .img-tienda {
    width: 55%;
    display: block;
    margin: auto; }
  .grilla h2 {
    color: #6E4555;
    font-size: 25px;
    font-weight: bold; }
  .grilla h3 {
    font-size: 20px; }
  .grilla .btn-borde {
    display: block;
    text-align: center; }

@media screen and (max-width: 768px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "producto-1" "producto-2" "producto-3" "producto-4" "producto-5" "producto-6" "producto-7" "producto-8" "producto-9";
    justify-content: center; }
    .grilla .producto-1 {
      grid-area: producto-1; }
    .grilla .producto-2 {
      grid-area: producto-2; }
    .grilla .producto-3 {
      grid-area: producto-3; }
    .grilla .producto-4 {
      grid-area: producto-4; }
    .grilla .producto-5 {
      grid-area: producto-5; }
    .grilla .producto-6 {
      grid-area: producto-6; }
    .grilla .producto-7 {
      grid-area: producto-7; }
    .grilla .producto-8 {
      grid-area: producto-8; }
    .grilla .producto-9 {
      grid-area: producto-9; }
    .grilla .img-tienda {
      width: 90%; } }

.portada-blog {
  background-image: url(../../img/14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem; }

.nav-search {
  background-color: #C9D7F8; }
  .nav-search .form-search {
    background-color: #C9D7F8;
    border: #546CEC solid 1px; }
  .nav-search .btn-search {
    background-color: #546CEC;
    color: #E1D89F; }

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6rem; }
  .contenedor .entrada-blog {
    width: 30%; }
    .contenedor .entrada-blog .img-blog {
      width: 100%; }
    .contenedor .entrada-blog h2 {
      color: #3A3238;
      font-size: 25px;
      font-weight: bold; }

.nav-blog {
  background-color: #C9D7F8; }
  .nav-blog .page-item {
    background: #C9D7F8; }
    .nav-blog .page-item .page-link {
      background-color: #C9D7F8;
      border: #546CEC solid 1px; }
      .nav-blog .page-item .page-link:hover {
        background-color: #546CEC;
        color: #E1D89F; }

@media screen and (max-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor .entrada-blog {
      width: 90%; } }

.portada-nosotras {
  background-image: url(../../img/07.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem; }

.img-nosotras {
  width: 70%;
  border-radius: 10%;
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 768px) {
  .texto-nosotras {
    text-align: center;
    margin-top: 2rem; } }

.portada-contacto {
  background-image: url(../../img/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem; }

.edit-turnos-contacto {
  border: solid 1px #546CEC;
  color: #3A3238;
  font-family: "Quattrocento", serif;
  width: 40%;
  margin: 2rem;
  padding: 2rem; }
  .edit-turnos-contacto h2 {
    color: #6E4555;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Ultra", serif;
    letter-spacing: 0.2rem; }
  .edit-turnos-contacto .form-control,
  .edit-turnos-contacto #floatingSelect {
    border: none;
    border-bottom: solid 1px #546CEC;
    background-color: #C9D7F8; }
  .edit-turnos-contacto .input-group-text {
    background-color: #C9D7F8; }

.lugar {
  border: solid 1px #546CEC;
  color: #3A3238;
  font-family: "Quattrocento", serif;
  margin: 2rem;
  padding: 2rem; }
  .lugar h2 {
    color: #6E4555;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Ultra", serif;
    letter-spacing: 0.2rem; }
  .lugar iframe {
    width: 100%; }

@media screen and (max-width: 768px) {
  .edit-turnos-contacto {
    width: 80%; } }
