.portada-blog {
    background-image: url(../img/14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-fondo;
    padding: 2rem;
}

.nav-search {
    background-color: $color-fondo;

    .form-search {
        background-color: $color-fondo;
        border: $color-azul solid 1px;
    }

    .btn-search {
        background-color: $color-azul;
        color: $color-claro;

        &:hover {
            background-color: $color-fondo;
            border: $color-azul solid 1px;
            color: $color-azul;
        }
    }
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;

    .entrada-blog {
        width: 30%;
        margin-bottom: 1rem;

        .img-blog {
            width: 100%;

            &:hover {
                opacity: 0.5;
            }
        }

        .titulo-blog {
            text-decoration: none;

            h2 {
                @include estilo-texto ($color-texto, 25px, 800);

                &:hover {
                    color: $color-azul;
                }
            }

        }

        .fecha{
            font-size: 15px;
            font-style: italic;
        }

        p {
            text-align: justify;
        }
    }
}

.nav-blog {
    background-color: $color-fondo;
    margin-bottom: 2rem;

    .page-item {
        background: $color-fondo;

        .page-link {
            background-color: $color-fondo;
            border: $color-azul solid 1px;

            &:hover {
                background-color: $color-azul;
                color: $color-claro;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px){
.contenedor{
    .entrada-blog{
        .titulo-blog{
            h2{
                font-size: 20px;
            }
        }
    }
}

}

@media screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;

        .entrada-blog {
            width: 100%;

            .titulo-blog {
                h2 {
                    font-size: 18px;
                    text-align: center;
                    font-weight: 800;
                }
            }
        }

    }
}