.portada-blog{
    background-image: url("/img/17.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

.entradas-blog{
    margin: 4rem;  
    font-family: $font-cuerpo;
    color: $color-texto;

    h2{
        @include estilo-texto ($color-texto, 25px, bold)
    }

    img{
        border-radius: 40%;
    }


    .btn-borde{
        @extend %boton-link;
    }

}
