.portada-contacto {
    background-image: url(../img/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-fondo;
    padding: 2rem;
}

.edit-turnos-contacto {
    border: solid 1px $color-azul;
    color: $color-texto;
    width: 40%;
    margin: 2rem;
    padding: 2rem;

    h2 {
        @include estilo-texto ($color-texto, 30px, 900);
        text-align: center;
        margin-bottom: 2rem;
    }

    .form-control,
    #floatingSelect {
        border: none;
        border-bottom: solid 1px $color-azul;
        background-color: $color-fondo;
    }

    .input-group-text {
        background-color: $color-fondo;
    }

    .btn-borde{
        @extend %boton-link;
        background-color: $color-fondo;
        border: none;
    }
}

.lugar {
    border: solid 1px $color-azul;
    color: $color-texto;
    margin: 2rem;
    padding: 2rem;

    h2 {
        @include estilo-texto ($color-texto, 30px, 900);
        text-align: center;
        margin-bottom: 2rem;
    }

    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .edit-turnos-contacto {
        width: 80%;

        h2{
            font-size: 25px;
        }        
    }

    .lugar{
        h2{
            font-size: 25px;
        }
    }




}
