.portada-ppal {
    background-image: url(../../img/22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-fondo;
    padding: 3rem;

    .img-principal {
        width: 100%;
    }

    .text-shadow-pop-tr {
        -webkit-animation: text-shadow-pop-tr 0.6s both;
        animation: text-shadow-pop-tr 0.6s both;
    }


    @-webkit-keyframes text-shadow-pop-tr {
        0% {
            text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
        }

        100% {
            text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
            -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
        }
    }

    @keyframes text-shadow-pop-tr {
        0% {
            text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
        }

        100% {
            text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
            -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
        }
    }

    .tracking-in-contract {
        -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @-webkit-keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }

    @keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }


    .titulo-inicio {
        color: $color-azul;
        font-family: $font-titulo;
        font-size: 70px;
    }

    .subtitulo-inicio {
        font-size: 60px;
        font-weight: 900;
    }

}

.texto-inicio {
    text-align: end;

    h2 {
        font-weight: 800;
    }
}

.img-inicio {
    width: 60%;
}


#texto-productos {
    text-align: start;

    h2 {
        font-weight: 800
    }
}

.btn-borde {
    @extend %boton-link;
}

.carousel-tamanio {
    height: 500px;

    img {
        object-fit: cover;
        max-height: 500px;

    }

    h5 {
        color: $color-fondo;
        font-weight: 800;
        font-size: 45px;
        text-shadow: 4px 4px 4px black;
    }

    p {
        color: $color-texto;
        font-size: 20px;
        font-weight: 800;
        text-shadow: 0 0 5px white;

    }

}



.testimonios {
    .titulo-opiniones {
        margin-top: 2rem;
        font-size: 40px;
        font-weight: 800;
    }

    h2 {
        font-size: 20px;
        font-weight: 800;
    }

    span {
        font-size: 15px;
    }

    p {
        font-size: 18px;
        font-style: italic;
    }

    .img-testimonios {
        width: 80%;
    }


}

@media screen and (max-width: 768px) {

    .portada-ppal {
        .img-principal {
            width: 85%;
            align-items: center;
        }

        .titulo-inicio {
            font-size: 20px;
            text-align: center;
        }

        .subtitulo-inicio {
            font-size: 25px;
            text-align: center;
        }
    }    

    .texto-inicio {
        text-align: center;
        font-size: 15px;
    }

    #texto-productos {
        text-align: center;
        font-size: 15px;
    }

    .img-inicio {
        width: 100%;
    }

    .carousel-tamanio {
        .carousel-indicators {
            bottom: 300px;
        }

        .carousel-control-prev, .carousel-control-next{
            bottom: 200px;
        }
    }

    .testimonios {
        text-align: center;

        .titulo-opiniones {
            font-size: 30px;
            text-align: center;
        }

        .img-testimonios {
            width: 100%;
        }

    }

}