.portada-ppal {
    background-image: url(../../img/22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-fondo;
    padding: 3rem;

    .img-principal {
        width: 100%;
    }

    .tracking-in-contract {
        -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }


    @-webkit-keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }

    @keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }


    .titulo-inicio {
        color: $color-texto;
        font-family: $font-titulo;
        font-size: 60px;
        letter-spacing: 0.2rem;
    }

    .subtitulo-inicio {
        font-size: 60px;
        font-weight: bold;
    }

}

.carousel-item {
    height: 500px;

    img {
        object-fit: cover;
        max-height: 500px;

    }
}

.texto-inicio {
    text-align: end;

    .fs-1 {
        font-family: $font-titulo;
        color: $color-texto;
    }

    .fs-3 {
        font-family: $font-cuerpo;
        color: $color-texto;
    }
}

.img-inicio {
    width: 60%;
}


#texto-productos {
    text-align: start;

    .fs-1 {
        font-family: $font-titulo;
        color: $color-texto;
    }

    .fs-3 {
        font-family: $font-cuerpo;
        color: $color-texto;
    }

}

.btn-borde {
    @extend %boton-link;
}



@media screen and (max-width: 768px) {
    .img-principal {
        width: 85%;
        align-items: center;
    }

    #titulo-inicio {
        font-size: 40px;
        text-align: center;
    }

    .texto-inicio {
        text-align: center;
    }

    #texto-productos {
        text-align: center;
    }

    .img-inicio {
        width: 60%;
    }

}