.portada-nosotras{
    background-image: url(../img/07.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-fondo;
    padding: 2rem;
}

.presentacion{
    margin: 1rem;
    font-size: 20px;

    .img-gabinete{
        width: 100%;
    }

}

.img-nosotras{
    width: 70%;    
}

.texto-nosotras{
    h2{
        font-weight: 800;
    }

    ul{
        list-style-type: none;
        font-size: 18px;
        padding-left: 0;
    }
}


@media screen and (max-width: 768px){

    .presentacion{
        font-size: 15px;

    }

    .img-nosotras{
        width: 100%;
    }
    .texto-nosotras{
        text-align: center;
        margin-top: 2rem;

        ul{
            font-size: 15px;
        }
    }
}
