.portada-nosotras{
    background-image: url(/img/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

.img-nosotras{
    width: 70%;
    border-radius: 10%;
    animation-duration: 2s;
    animation-name: aparecer;
    
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .texto-nosotras{
        text-align: center;
        margin-top: 2rem;
    }
}