.portada-servicios {
    background-image: url(../img/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-fondo;
    padding: 2rem;
}

.edit-servicios {

    h2 {
        @include estilo-texto ($color-texto, 40px, 800);
    }

    .edit-higiene {
        width: 100%;
    }

    .edit-dermamicro {
        width: 90%;
    }

    .edit-video {
        width: 50%;
    }

    .edit-acne {
        width: 50%;
    }
}


@media screen and (max-width: 768px) {
    .edit-servicios {
        h2 {
            font-size: 30px;
        }
    }

}