.portada-tienda {
    background-image: url(/img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    margin: 2rem;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "producto-1 producto-2 producto-3"
        "producto-4 producto-5 producto-6"
        "producto-7 producto-8 producto-9";

    .producto-1 {
        grid-area: producto-1;
    }

    .producto-2 {
        grid-area: producto-2;
    }

    .producto-3 {
        grid-area: producto-3;
    }

    .producto-4 {
        grid-area: producto-4;
    }

    .producto-5 {
        grid-area: producto-5;
    }

    .producto-6 {
        grid-area: producto-6;
    }

    .producto-7 {
        grid-area: producto-7;
    }

    .producto-8 {
        grid-area: producto-8;
    }

    .producto-9 {
        grid-area: producto-9;
    }



    .img-tienda {
        width: 55%;
        display: block;
        margin: auto;
    }


    h2 {
        @include estilo-texto ($color-bordo, 25px, bold);

    }

    h3 {
        font-size: 20px;
    }

    .btn-borde {
        @extend %boton-link;
        display: block;
        text-align: center;
    }

}



@media screen and (max-width: 768px) {
    .grilla {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "producto-1"
            "producto-2"
            "producto-3"
            "producto-4"
            "producto-5"
            "producto-6"
            "producto-7"
            "producto-8"
            "producto-9";
        justify-content: center;

        .producto-1 {
            grid-area: producto-1;
        }

        .producto-2 {
            grid-area: producto-2;
        }

        .producto-3 {
            grid-area: producto-3;
        }

        .producto-4 {
            grid-area: producto-4;
        }

        .producto-5 {
            grid-area: producto-5;
        }

        .producto-6 {
            grid-area: producto-6;
        }

        .producto-7 {
            grid-area: producto-7;
        }

        .producto-8 {
            grid-area: producto-8;
        }

        .producto-9 {
            grid-area: producto-9;
        }

        .img-tienda {
            width: 90%;


        }


    }
}