footer{         
    background-color: $color-bordo;    
    padding: 2.5rem;

    .texto-footer{
        color: $color-fondo;
        font-family: $font-cuerpo;
        font-size: 15px;
        text-align: center;
        align-items: center;

        h5{
            text-decoration: underline;
            font-size: 20px;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

    }       
    .nav-link{
        color: $color-fondo;
        font-family: $font-cuerpo;      

        &:hover{
            color: $color-azul;
        }
    }
}

@media screen and (max-width: 1200px){
    .redes-sociales, .horarios, .telefono, .mail, .ubicacion, .posicion{
        margin-bottom: 1rem;
    }

}
