footer{
    position: fixed;
    bottom: 0;        
    width: 100%;
    background-color: $color-bordo;    

    .fa-whatsapp{
        font-size: 2rem;
        color: white;
        background-color: green;
        padding: 0.6rem;
        border-radius: 50%;
        position: fixed;
        bottom: 5%;
        right: 3%;
    }
    
    .nav-link{
        color: $color-claro;
        font-family: $font-cuerpo;      

        &:hover{
            color: $color-fondo;
        }
    }
}