nav {
    background-color: $color-fondo;

    .navbar-brand {
        padding: 0;
        height: 100px;
        line-height: 100px;
        font-family: $font-cuerpo;
        font-weight: bold;
    }

    .navbar-nav {
        font-family: $font-cuerpo;
        font-weight: bold;

        .nav-item {
            margin: 2px;

            .nav-link {
                color: $color-texto;

                &:hover {
                    color: $color-azul;

                }
            }


        }

        .submenu {
            position: relative;

            ul {
                position: absolute;
                top: 2.5rem;
                display: none;

                li {
                    display: block;
                    font-size: 15px;
                    background-color: $color-fondo;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;

                    a {
                        color: $color-texto;
                        text-decoration: none;


                        &:hover {
                            color: $color-azul;
                        }
                    }

                }
            }

            &:hover {
                ul {
                    display: block;
                }
            }
        }

    }


}